body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: stretch;
    background-color: #f5f5f5;
}

.container {
    background: linear-gradient(to right, #92a3f0, #beb6ec, #f3bff5, #f8e6bf);
    color: #000357;
}

header {
    background-color: #6191ff;
    color: white;
    text-align: center;
}

.left {
    background-color: #eeede5de;
    width: 150px;
    padding: 20px;
}

.mid {
    background-color: #eeede5de;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.right {
    background-color: #eeede5de;
}

footer {
    background-color: #6A8FE6;
    color: white;
    text-align: center;
}

.vertical-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
}

.vertical-nav a {
    align-items: center;
    display: block;
    font-size: 1.3rem;
    font-family: 'Georgia', serif;
    padding: 12px 20px;
    background-color: #6A8FE6;
    color: #E6A6AF;
    text-decoration: none;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-bottom: 50px;
}

.vertical-nav a:hover {
    background-color: #2E3A59;
}

.sub-nav a {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
    margin: 5px;
}

.mid-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

.column {
    background-color: #fff9e9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(240, 160, 160, 0.1);
    text-align: left;
    line-height: 1.6;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: #9c9fff;
    padding: 20px;
    line-height: 1;
}

.identity-card {
    background-color: #f8cce2;
    /* soft pink */
    padding: 20px 30px;
    border-radius: 12px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #3a003a;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

.identity-card h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.identity-card p {
    font-size: 1.2rem;
    margin: 0;
    letter-spacing: 1px;
}